In [1]:
import numpy as np
import pandas as pd

In [5]:
df = pd.read_csv('daily_data.csv')
df

,building,date_time,date,water_use_l,occ_01,occ_02,occ_03,occ_04,occ_05
0,BUILD-D-01,2022-01-01T11:00:00Z,2022-01-01,5,Occupied,Occupied,Occupied,Occupied,Occupied
1,BUILD-D-01,2022-01-01T12:00:00Z,2022-01-01,35,Occupied,Occupied,Occupied,Occupied,Occupied
2,BUILD-D-01,2022-01-01T13:00:00Z,2022-01-01,29,Occupied,Occupied,Occupied,Occupied,Occupied
3,BUILD-D-01,2022-01-01T14:00:00Z,2022-01-01,40,Occupied,Occupied,Occupied,Occupied,Occupied
4,BUILD-D-01,2022-01-01T15:00:00Z,2022-01-01,12,Occupied,Occupied,Occupied,Occupied,Occupied
...,...,...,...,...,...,...,...,...,...
87355,BUILD-D-10,2022-12-31T06:00:00Z,2022-12-30,0,Occupied,Occupied,Occupied,Occupied,Occupied
87356,BUILD-D-10,2022-12-31T07:00:00Z,2022-12-30,0,Occupied,Occupied,Occupied,Occupied,Occupied
87357,BUILD-D-10,2022-12-31T08:00:00Z,2022-12-30,0,Occupied,Occupied,Occupied,Occupied,Occupied
87358,BUILD-D-10,2022-12-31T09:00:00Z,2022-12-30,135,Occupied,Occupied,Occupied,Occupied,Occupied
87359,BUILD-D-10,2022-12-31T10:00:00Z,2022-12-30,20,Occupied,Occupied,Occupied,Occupied,Occupied

In [8]:
df.describe()

        water_use_l
count  87360.000000
mean      10.475504
std       22.203753
min        0.000000
25%        0.000000
50%        3.000000
75%       12.000000
max      856.000000

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87360 entries, 0 to 87359
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   building     87360 non-null  object
 1   date_time    87360 non-null  object
 2   date         87360 non-null  object
 3   water_use_l  87360 non-null  int64
 4   occ_01       87360 non-null  object
 5   occ_02       87360 non-null  object
 6   occ_03       87360 non-null  object
 7   occ_04       87360 non-null  object
 8   occ_05       87360 non-null  object
dtypes: int64(1), object(8)
memory usage: 6.0+ MB

In [10]:
ds = pd.read_csv('hourly_data.csv')

In [11]:
ds.head()

,building,date_time,water_use_l,water_use_l_high_res,electrcity_use_kwh,occupied,washing,dishwasher
0,BUILD_H_01,2023-02-27T23:00:00Z,0,NaN,0.36,True,NaN,NaN
1,BUILD_H_01,2023-02-28T00:00:00Z,0,NaN,0.18,True,NaN,NaN
2,BUILD_H_01,2023-02-28T01:00:00Z,15,NaN,0.16,True,NaN,NaN
3,BUILD_H_01,2023-02-28T02:00:00Z,0,NaN,0.17,True,NaN,NaN
4,BUILD_H_01,2023-02-28T03:00:00Z,0,NaN,0.18,True,NaN,NaN

In [12]:
ds

,building,date_time,water_use_l,water_use_l_high_res,electrcity_use_kwh,occupied,washing,dishwasher
0,BUILD_H_01,2023-02-27T23:00:00Z,0,NaN,0.36,True,NaN,NaN
1,BUILD_H_01,2023-02-28T00:00:00Z,0,NaN,0.18,True,NaN,NaN
2,BUILD_H_01,2023-02-28T01:00:00Z,15,NaN,0.16,True,NaN,NaN
3,BUILD_H_01,2023-02-28T02:00:00Z,0,NaN,0.17,True,NaN,NaN
4,BUILD_H_01,2023-02-28T03:00:00Z,0,NaN,0.18,True,NaN,NaN
...,...,...,...,...,...,...,...,...
2923,BUILD_H_08,2024-07-25T17:00:00Z,0,0.0,0.09,False,False,False
2924,BUILD_H_08,2024-07-25T18:00:00Z,0,0.0,0.09,False,False,False
2925,BUILD_H_08,2024-07-25T19:00:00Z,0,0.0,0.15,False,False,False
2926,BUILD_H_08,2024-07-25T20:00:00Z,0,0.0,2.49,False,False,False
2927,BUILD_H_08,2024-07-25T21:00:00Z,11,11.2,3.94,True,NaN,NaN

In [13]:
ds.info

<bound method DataFrame.info of         building             date_time  water_use_l  water_use_l_high_res  \
0     BUILD_H_01  2023-02-27T23:00:00Z            0                   NaN
1     BUILD_H_01  2023-02-28T00:00:00Z            0                   NaN
2     BUILD_H_01  2023-02-28T01:00:00Z           15                   NaN
3     BUILD_H_01  2023-02-28T02:00:00Z            0                   NaN
4     BUILD_H_01  2023-02-28T03:00:00Z            0                   NaN
...          ...                   ...          ...                   ...
2923  BUILD_H_08  2024-07-25T17:00:00Z            0                   0.0
2924  BUILD_H_08  2024-07-25T18:00:00Z            0                   0.0
2925  BUILD_H_08  2024-07-25T19:00:00Z            0                   0.0
2926  BUILD_H_08  2024-07-25T20:00:00Z            0                   0.0
2927  BUILD_H_08  2024-07-25T21:00:00Z           11                  11.2

      electrcity_use_kwh  occupied washing dishwasher
0                   0.36      True     NaN        NaN
1                   0.18      True     NaN        NaN
2                   0.16      True     NaN        NaN
3                   0.17      True     NaN        NaN
4                   0.18      True     NaN        NaN
...                  ...       ...     ...        ...
2923                0.09     False   False      False
2924                0.09     False   False      False
2925                0.15     False   False      False
2926                2.49     False   False      False
2927                3.94      True     NaN        NaN

[2928 rows x 8 columns]>

In [21]:
ds = ds.drop('water_use_l',axis = 1)

In [24]:
ds = ds.drop('water_use_l_high_res', axis = 1)
ds = ds.drop('washing', axis=1)
ds = ds.drop('dishwasher', axis =1 )

In [25]:
ds.head()

     building             date_time  electrcity_use_kwh  occupied
0  BUILD_H_01  2023-02-27T23:00:00Z                0.36      True
1  BUILD_H_01  2023-02-28T00:00:00Z                0.18      True
2  BUILD_H_01  2023-02-28T01:00:00Z                0.16      True
3  BUILD_H_01  2023-02-28T02:00:00Z                0.17      True
4  BUILD_H_01  2023-02-28T03:00:00Z                0.18      True

In [26]:
ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2928 entries, 0 to 2927
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   building            2928 non-null   object
 1   date_time           2928 non-null   object
 2   electrcity_use_kwh  2592 non-null   float64
 3   occupied            2928 non-null   bool
dtypes: bool(1), float64(1), object(2)
memory usage: 71.6+ KB

In [27]:
ds["date_time"] = pd.to_datetime(ds["date_time"])

In [28]:
ds["hour"] = ds["date_time"].dt.hour
ds["day_of_week"] = ds["date_time"].dt.dayofweek

In [29]:
ds

,building,date_time,electrcity_use_kwh,occupied,hour,day_of_week
0,BUILD_H_01,2023-02-27 23:00:00+00:00,0.36,True,23,0
1,BUILD_H_01,2023-02-28 00:00:00+00:00,0.18,True,0,1
2,BUILD_H_01,2023-02-28 01:00:00+00:00,0.16,True,1,1
3,BUILD_H_01,2023-02-28 02:00:00+00:00,0.17,True,2,1
4,BUILD_H_01,2023-02-28 03:00:00+00:00,0.18,True,3,1
...,...,...,...,...,...,...
2923,BUILD_H_08,2024-07-25 17:00:00+00:00,0.09,False,17,3
2924,BUILD_H_08,2024-07-25 18:00:00+00:00,0.09,False,18,3
2925,BUILD_H_08,2024-07-25 19:00:00+00:00,0.15,False,19,3
2926,BUILD_H_08,2024-07-25 20:00:00+00:00,2.49,False,20,3
2927,BUILD_H_08,2024-07-25 21:00:00+00:00,3.94,True,21,3

In [30]:

# Load the dataset


# Convert date_time to datetime (if not already)
ds["date_time"] = pd.to_datetime(ds["date_time"], errors="coerce")

# Drop rows with missing target values
ds = ds.dropna(subset=["electrcity_use_kwh"])

# Drop the raw datetime column (features already extracted)
ds = ds.drop(columns=["date_time"])

# Convert boolean to integer
ds["occupied"] = ds["occupied"].astype(int)

# One-hot encode the building column
ds_encoded = pd.get_dummies(
    ds,
    columns=["building"],
    prefix="building"
)

# Save the processed dataset
ds_encoded.to_csv("electricity.csv", index=False)

print("One-hot encoding complete. Saved as electricity.csv")

One-hot encoding complete. Saved as electricity.csv

In [32]:
X = df[['occ_01',	'occ_02', 	'occ_03', 	'occ_04', 	'occ_05']]

In [33]:
X

         occ_01    occ_02    occ_03    occ_04    occ_05
0      Occupied  Occupied  Occupied  Occupied  Occupied
1      Occupied  Occupied  Occupied  Occupied  Occupied
2      Occupied  Occupied  Occupied  Occupied  Occupied
3      Occupied  Occupied  Occupied  Occupied  Occupied
4      Occupied  Occupied  Occupied  Occupied  Occupied
...         ...       ...       ...       ...       ...
87355  Occupied  Occupied  Occupied  Occupied  Occupied
87356  Occupied  Occupied  Occupied  Occupied  Occupied
87357  Occupied  Occupied  Occupied  Occupied  Occupied
87358  Occupied  Occupied  Occupied  Occupied  Occupied
87359  Occupied  Occupied  Occupied  Occupied  Occupied

[87360 rows x 5 columns]

In [34]:
y = df['water_use_l']

In [35]:
y

0          5
1         35
2         29
3         40
4         12
        ...
87355      0
87356      0
87357      0
87358    135
87359     20
Name: water_use_l, Length: 87360, dtype: int64